<div class="row vh-100 d-flex align-items-center text-center m-0 bg-dark text-white">
  <div class="col">
    <h1>About</h1>
    <img src="img/profile.jpg" class="rounded" alt="Profile" width="200">
    <h2>Leonardo Lim</h2>
    <p>Web Developer | CS Student</p>
    <p class="w-75 bg-white text-dark rounded m-auto p-2 mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe similique excepturi velit consectetur et alias architecto ipsam minima, tempora ex. Sed similique ipsum officiis nulla. A aliquid sit soluta eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, cumque? Ex illum quo, placeat aliquam repellat, architecto ipsum aperiam provident totam quasi consectetur, maiores inventore? Quos repellat aut molestiae voluptate.</p>
  </div>
</div>